.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  margin: 22px 0 0 0;
  max-width: 450px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .profile__name {
    font-size: 33px;
    line-height: 36px;
    max-width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin-left: 36px;
    max-width: 210px;
  }
}
