.profile__info {
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  max-width: 580px;
}

@media screen and (max-width: 1023px) {
  .profile__info {
    flex-direction: column;
    max-width: 400px;
  }
}

@media screen and (max-width: 767px) {
  .profile__info {
    padding: 0;
    max-width: 282px;
  }
}
